services:
  redis:
    image: redis:8
    restart: unless-stopped
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 1m
    network_mode: 'host'

  elasticsearch:
    image: docker.io/bitnamilegacy/elasticsearch:8.17.1-debian-12-r6
    restart: unless-stopped
    ports:
      - '9200:9200'
    environment:
      - ingest.geoip.downloader.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9200']
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 1m
    ulimits:
      nofile: 65536
    volumes:
      - esdata:/usr/share/elasticsearch/data
    network_mode: 'host'

  web:
    image: kuzzleio/kuzzle-runner:22
    restart: unless-stopped
    command: ${DOCKER_COMMAND:-npm run dev --prefix /var/app/apps/web}
    volumes:
      - .:/var/app
    depends_on:
      kuzzle:
        condition: service_healthy
    ports:
      - '8080:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080']
      interval: 5s
      timeout: 5s
      retries: 30
    network_mode: 'host'

  kuzzle:
    image: kuzzleio/kuzzle-runner:22
    restart: unless-stopped
    command: ${DOCKER_COMMAND:-npm run dev --prefix /var/app/apps/api}
    depends_on:
      redis:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    ports:
      - '7512:7512'
      - '9229:9229'
      - '1883:1883'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:7512/_healthcheck']
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 1m
    volumes:
      - .:/var/app
      - ~/.npmrc:/root/.npmrc:cached
    environment:
      - kuzzle_services__storageEngine__majorVersion=8
      - kuzzle_services__storageEngine__client__node=http://localhost:9200
      - kuzzle_services__storageEngine__commonMapping__dynamic=true
      - kuzzle_services__internalCache__node__host=localhost
      - kuzzle_services__memoryStorage__node__host=localhost
      - NODE_ENV=${NODE_ENV:-development}
      - DEBUG=${DEBUG:-none}
      - BACKEND_COMMAND=${BACKEND_COMMAND:-npm run dev}
      - KUZZLE_SECRETS_FILE=${KUZZLE_SECRETS_FILE:-}
      - KUZZLE_VAULT_KEY=${KUZZLE_VAULT_KEY:-}
      - PUPPETEER_SERVER_URL=http://localhost
      - PUPPETEER_SERVER_PORT=3000
    network_mode: 'host'

  exporter:
    image: kuzzleio/kuzzle-exporter:1.6.2
    restart: unless-stopped
    ports:
      - '3000:3000'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/_healthcheck']
      timeout: 10s
      interval: 10s
      retries: 30
      start_period: 1m
    environment:
      - IOT_CONSOLE_URL=http://localhost:8080
      - PUPPETEER_SERVER_PORT=3000
    network_mode: 'host'

volumes:
  esdata:
